.blog-card {
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: var(--dark-green-background);
  border: 1px solid var(--color-border);
}

.blog-card:hover {
  transform: translateY(-6px);
  background-color: var(--clr-light-green-background);
  color: var(--color-accent);
}

.blog-card:hover .blog-title {
  color: var(--color-accent);
}

.blog-card:hover .blog-description {
  color: var(--color-accent);
}

.blog-image-wrapper {
  height: 220px;
  overflow: hidden;
}

.blog-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.blog-card:hover .blog-image {
  transform: scale(1.05);
}
