.section-heading {
  color: var(--color-accent);
  max-width: 600px;
  margin-bottom: 2rem;
}

.section-text_label {
  color: var(--color-accent);
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

.section-text_title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.section-text_text {
  color: #ffff;
  line-height: 1.6;
  margin-bottom: 0;
}