.hero-section {
  background-color: var(--clr-light-green-background);
  min-height: 400px;  
  display: flex;
  align-items: center;
  
}
.home-hero .section-text_label {
  color: var(--clr-accent)
}

.hero-section img {
  display: block;
  max-width: 300px;
  height: auto;
}

.hero-section h2 {
    color: var(--clr-background)

}

.hero-section button.btn:focus-visible {
  outline: 3px solid #fff !important;
}

