.hero-section {
  background-color: var(--clr-light-green-background);
}
.hero-section .section-text_label {
  color: var(--accent);
}

.hero-section img {
  display: block;
  max-width: 300px;
  height: auto;
}

.hero-section h2 {
    color: var(--clr-background)

}

